@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: turquoise;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.no-pointer {
  pointer-events: none;
}
