@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:wght@100;400;900&family=Raleway:wght@900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

:root {
  --primary: turquoise;
  --primary-dark: #181a1b;
  --primary-blue: #2776ff;
  --secondary-dark: #292f3a60;
  --secondary-dark2: #121720;
  --transparent-blue: #0059ff9a;
  --title-font-family: 'Raleway', sans-serif;
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Major Mono Display', monospace;
  font-family: var(--primary-font-family);
  background-color: var(--primary-dark);
  color: white;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background: #252629;
}
::-webkit-scrollbar-thumb:hover {
  background: #40434b;
}

::selection {
  color: black;
  background: white;
}

.no-scroll {
  overflow: hidden;
}
.hide {
  transition: 500ms all;
  opacity: 0;
}
.show {
  transition: 500ms all;
  opacity: 1;
}

.nav-scrolled {
  animation: NavScrollAnimation 1s forwards;
}

@keyframes NavScrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    background-color: black;
  }
}
