@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:wght@100;400;900&family=Righteous&display=swap');
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

:root {
  --primary: turquoise;
  --primary-dark: #191825;
  --primary-blue: #865DFF;
  --primary-light-blue: #c4b1ff;
  --secondary-dark: #27253f;
  --secondary-dark2: #191825;
  --transparent-pink: #E384FF;
  --semi-pink:#fdb1fc;
  --home-light: #091877;
  --home-dark: #200053;
  --title-font-family: 'Raleway', sans-serif;
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Major Mono Display', monospace;
  --handwritten-font-family: 'Righteous', cursive;
  font-family: var(--primary-font-family);
  color: #fff;
  font-size: 20px;
}

body{
  background-color: var(--primary-dark);

}
.unfocus::after {
  content: "";
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  
  animation: blur .25s linear forwards;
}
@keyframes blur {
  0%{
    background-color: transparent;
    backdrop-filter: blur(0px);
  }
  100%{
    background-color: rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 15px;
  background-color: var(--primary-dark);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-blue);
  /* border-radius: 5px; */
}
::-webkit-scrollbar-thumb:hover {
  background: #9f7fff;
}

::selection {
  color: black;
  background: white;
}

.no-scroll {
  overflow: hidden;
}
.hide {
  transition: 500ms all;
  opacity: 0;
}
.show {
  transition: 500ms all;
  opacity: 1;
}

.nav-scrolled {
  animation: NavScrollAnimation 1s forwards;
}

@keyframes NavScrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    /* transform: translateY(-100%); */
  }
  100% {
    transform: translateY(0);
    background-color: var(--primary-dark);
    box-shadow:  0px 0px 10px rgba(0,0,0,.3);


  }
}
